header{
   position: sticky;
   width: 100%;
   top: 0;
   z-index: 1;
   height: 30vh;
   border-bottom: 0.5px solid rgba(121, 120, 120, 0.5);
   
}


h1{
    font-size: 3.5rem;
}
.fa-square-plus{
    font-size: 2rem;
    color: green;
    cursor: pointer;
}
main{
   
    overflow-y: auto;
    height: 40vh;
}
ul{
    z-index: 1;
    padding: 0px;
}

a{
    cursor: pointer;
}
.loader{
    z-index: 1;
}
.randomItem{
font-weight: bold;
}
footer{
    
    /* margin: auto; */
    height: 20vh;
}



